name: remote ssh command
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: self-hosted
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
            cd /var/www/api.lifelog/ # navigate into the project folder
            git pull origin main # pull from the 'main' branch
            npm ci # install dependencies 
            pm2 restart ecosystem.config.js # start as a background service.